{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}


<div class="container-xxl p-3 mt-1 mx-auto mb-5">
    <div class="border rounded border-3 px-5 py-5 bg-light" >
        <div class="d-flex justify-content-center ">       
            <h1 class="text-uppercase fw-bolder text-decoration-underline mt-5"style="color:#1350a2;">Qui sommes nous ?</h1>
        </div>       
        <div class="fs-5 d-flex justify-content-center mt-5 fw-normal">
            <p>Nous sommes un GEM (Groupe d'Entraide Mutuelle), association « Les Univers Singuliers » . C'est un lieu de rencontre ouvert aux adultes concernées par les Troubles du Spectre de l'Autisme.
    C'est un espace ressources, qui favorise les échanges, l'entraide, l’information, l'organisation d'activités culturelles et de loisirs ainsi que la construction et la mise en œuvre de projets de sensibilisation à l'autisme.
    On peut se retrouver dans une ambiance accueillante autour d'un café, d'un repas, d'une activité, travailler sur ses projets ou simplement se poser et se détendre.
    Deux animateurs à temps complet collaborent avec nous à la dynamique et la gestion global de notre projet associatif.</p>
        </div>
    </div>
{% endblock %}
